<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/partials.css">
    <title>Footer | Bushiangala TTI</title>
</head>
<body>
    <div class="footer-top">
        <div class="footer-logo">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab atque explicabo recusandae omnis maiores sequi modi est, nesciunt autem. Ipsum?
        </div> 
        <div class="footer-contact">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, natus praesentium debitis est sapiente animi mollitia exercitationem nostrum quo facilis?
        </div>
        <div class="footer-location">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit officia tempore, amet neque eaque qui? Repudiandae voluptates quaerat dolorem repellendus.
        </div>
        <div class="footer-resources">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi suscipit rem maxime obcaecati repellendus ullam, nesciunt omnis possimus eaque aut!
        </div>
    </div>
    <div class="footer-bottom">
        &copy;2024 BUSHIANGALA TTI 
        Designed by The Bushiangala ICT Team
    </div>
</body>
</html>