<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academics | Bushiangala TTI</title>
</head>
<body>
    <h1>this it the academics page</h1>
    <p>trials for remote repo</p>
</body>
</html>