 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/aesth.css">
    <title>Home | Bushiangala TTI</title>
 </head>
 <body>
   <%- include('partials/header') %>
      <div class="home-page-main">
         <h1>Welcome!   Your Journey Begins..</h1>
         <div class="home-page-buttons">
            <button>Explore Programs</button>
            <button>Apply Now</button>
         </div>
      </div>
      <div class="home-second-page">
         <div class="second-page-left">
            <h2>Lorem, ipsum dolor.</h2>
            <h1>We're here for Your Sucess</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos magni reiciendis adipisci dolore, iusto quae laudantium esse aspernatur</p>
         </div>
         <div class="second-page-right"> 
            <div class="second-page-images admissions">
               <img src="./images/bushlogo.jfif" alt="bush images">
            </div>
            <div class="second-page-images how-to-enroll">
               <img src="./images/bushlogo.jfif" alt="bush images">
            </div>
            <div class="second-page-images find-services">
               <img src="./images/bushlogo.jfif" alt="bush images">
            </div>
            <div class="second-page-images other-activities">
               <img src="./images/bushlogo.jfif" alt="bush images">
            </div>
         </div>
      </div>
      <div class="third-page">
         <div class="third-page-top">
            <h1>student life</h1>
         </div>
         
         <div class="student-life-page">
            <div class="third-page-images accommodation">
               <h3>Accommodations</h3>
               <p>Find accommodation</p>
            </div>
            <div class="third-page-images calendar">
               <h3>Calendar</h3>
               <h3>See events</h3>
            </div>
            <div class="third-page-images organizations">
               <h3>Organizations</h3>
               <h3>Student led organizations</h3>
            </div>
            <div class="third-page-images gallery">
               <h3>Gallery</h3>
               <p>BUSTTI in pictorial</p>
            </div>
            
         </div>
      </div>
         

      <div class="fourth-page">
         <div class="fourth-page-left">
            <h2>Lorem, ipsum dolor.</h2>
            <h1>We're here for Your Sucess</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos magni reiciendis adipisci dolore, iusto quae laudantium esse aspernatur</p>
            <button>View All Programs</button>
         </div>
         
         <div class="fourth-page-right">
            <div class="fourth-page-images engineering">
               <p>Department of <span>ENGINEERING</span></p>
            </div>
            <div class="fourth-page-images business">
               <p>Department of <span>Business</span></p>
            </div>
            <div class="fourth-page-images computer">
               <p>Department of <span>Computer & informatics</span></p>
            </div>
            <div class="fourth-page-images sciences">
               <p>Department of <span>Sciences</span></p>
            </div>
         </div>

      </div>
      <div class="fifth-page">
         <div class="fifth-page-cards">
            <div class="fifth-top">
               <h3>Students</h3>
            </div>
            <div class="fifth-bottom">
               <a href="">Lorem ipsum dolor sit amet.</a>
               <a href="">Lorem ipsum dolor sit amet.</a>
               <a href="">Lorem ipsum dolor sit amet.</a>
               <a href="">Lorem ipsum dolor sit amet.</a>
               <a href="">Lorem ipsum dolor sit amet.</a>
               <a href="">Lorem ipsum dolor sit amet.</a>
               <a href="">Lorem ipsum dolor sit amet.</a>
            </div>
         </div>
         <div class="fifth-page-cards">
            <div class="fifth-top">
               <h3>Students</h3>
            </div>
            <div class="fifth-bottom">
               <a href="">Lorem ipsum dolor sit amet.</a>
               <a href="">Lorem ipsum dolor sit amet.</a>
               <a href="">Lorem ipsum dolor sit amet.</a>
               <a href="">Lorem ipsum dolor sit amet.</a>
               <a href="">Lorem ipsum dolor sit amet.</a>
               <a href="">Lorem ipsum dolor sit amet.</a>
               <a href="">Lorem ipsum dolor sit amet.</a>
            </div>
         </div>
         <div class="fifth-page-cards">
            <div class="fifth-top">
               <h3>Students</h3>
            </div>
            <div class="fifth-bottom">
               <a href="">Lorem ipsum dolor sit amet.</a>
               <a href="">Lorem ipsum dolor sit amet.</a>
               <a href="">Lorem ipsum dolor sit amet.</a>
               <a href="">Lorem ipsum dolor sit amet.</a>
               <a href="">Lorem ipsum dolor sit amet.</a>
               <a href="">Lorem ipsum dolor sit amet.</a>
               <a href="">Lorem ipsum dolor sit amet.</a>
            </div>
         </div>
         
      </div>




   <%- include('partials/footer') %>
    
 </body>
 </html>
