body{
    padding: 0px;
    margin: 0px;
    /* background-color: #c0d6d2; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* root styling */
:root{
    --primary-color : #32589c;
    --button-bg: #85786a;
    --heading-std: #ffff;
    /* --cards-std: #ffc03d; */
}
/*--------home page main------*/
.home-page-main{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-image: url("../images/mainimage.jfif");   
    background-repeat: no-repeat;
    background-size: 100%;
}
/*------second page------*/
.home-second-page{
    display: flex;
    height: 100vh;
    background-color: var(--primary-color);
}
.second-page-left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;    
    width: 50%;
    /* height: 100vh; */
}
.second-page-left h2, .fourth-page-left h2{
   color: var(--heading-std);
}
.second-page-left h1{
    font-size: 80px;
    color: var(--heading-std); 
}

.second-page-images{
    display: flex;
    flex-direction: column;
    height: 240px;
    overflow: hidden;
    border-radius: 20px;    
}

.second-page-images img{
    height: 100%;    
}
/*----third page styles-----*/
.third-page{
    height: 90vh;
}

.third-page-top h1{
    padding: 20px;
    font-size: 50px;
    color: var(--primary-color);
}

.student-life-page{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    height: 70%;
    gap: 20px;
}
.third-page-images{
    background-image: url("../images/bushlogo.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    height: 60%;
    width: 100vw;
    border-radius: 20px;    
}
.third-page-images img{
    height: 100%;
    width: 100%;
}

/*--------fourth page styles------*/
.fourth-page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: var(--primary-color);
    
}
.fourth-page-left{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 20px; */
    /* background-color: yellow; */
    height: 95%;
    width: 50%;
}
.fourth-page-right, .second-page-right{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
    gap: 20px;
    /* background-color: #004e98; */
    border-top-left-radius: 4%;
    border-bottom-left-radius: 4%;
}
.fourth-page-images{
    background-image: url("../images/bushlogo.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    height: 240px;
    width: 40%;
    overflow: hidden;
    border-radius: 20px;    
}
.fourth-page-images span{
    font-weight: bold;
    /* color: var(--cards-std); */
}
.engineering{
   
}
.business{

}
.computer{

}
.sciences{

}
/*--------fifth page styles------*/
.fifth-page{
    display: flex;
    justify-content: space-between;
    height: 70vh;
    padding: 60px;
}
.fifth-page-cards{
    padding: 20px;
    width: 30%;
}
.fifth-top{
    background-color:var(--primary-color);
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.fifth-top h3{
    color: var(--heading-std);
}
.fifth-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(214, 235, 241, 0.822); /* subject to change */
    padding: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
