/*--------header styles------*/
.header-navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #004e98;
}
.header-navbar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.header-navbar a{
    text-decoration: none;
    color: white;/*to be checked later*/
    font-size: 24px;
    margin-top: 10px;
}




/*--------footer styles------*/
.footer-top, .footer-bottom{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #004e98;
    padding: 40px;

}
.footer-logo, .footer-contact, .footer-location, .footer-resources {
    padding: 10px;
}